.glint-container {
  overflow: hidden;
  user-select: none;

  .inner-background {
    position: absolute;
    z-index: 100;
  }

  .border-glow {
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translate(0%, 0%);
    background-size: 100% 100% !important;
    background-position: 50% 50% !important;
    opacity: 0.3;
    transition: transform 150ms, background-size 500ms, opacity 200ms;
  }

  &:hover .border-glow {
    opacity: 1;
  }

  &:active .border-glow {
    background-size: 300% 300% !important;
    transition: transform 1ms, background-size 1ms;
  }

  .hover-glow {
    opacity: 0;
    position: absolute;
    z-index: 200;
    top: 0%;
    left: 0%;
    transform: translate(-5000%, -5000%);
    transition: opacity 1s, transform 150ms, background-position 200ms, background-size 200ms;
    background-position: 50% 50% !important;
    background-size: 100% 100% !important;
  }

  &:hover .hover-glow {
    opacity: 0.2;
  }

  &:active .hover-glow {
    background-size: 200% 200% !important;
    transition: opacity 1ms, transform 1ms, background-size 1ms;
    opacity: 0.4;
  }

  & > *:not(.inner-background):not(.hover-glow):not(.border-glow) {
    z-index: 250 !important;
    position: relative;
  }
}
