.container {
  border-radius: 15px;
  overflow: hidden;

  .inner-background {
    position: absolute;
    left: 2px;
    top: 2px;
    height: calc(100% - 4px);
    width: calc(100% - 4px);
    z-index: 100;
    border-radius: 13px;
  }

  .border-glow {
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translate(-5000%, -5000%);
    transition: transform 150ms, background-size 500ms;
    background-size: 100% 100% !important;
    background-position: 50% 50% !important;
  }

  &:active .border-glow {
    background-size: 300% 300% !important;
    transition: transform 1ms, background-size 1ms;
  }

  .hover-glow {
    opacity: 0;
    position: absolute;
    z-index: 200;
    top: 0%;
    left: 0%;
    transform: translate(-5000%, -5000%);
    transition: opacity 1s, transform 150ms, background-position 200ms, background-size 200ms;
    background-position: 50% 50% !important;
    background-size: 100% 100% !important;
  }

  &:hover .hover-glow {
    opacity: 0.2;
  }

  &:active .hover-glow {
    background-size: 200% 200% !important;
    transition: opacity 1ms, transform 1ms, background-size 1ms;
    opacity: 0.4;
  }
}
